$green: #7ca48c;
$main: #fefaef;
$main-dim: #6666662a;
$text-color:#585656;
$brown: #b05d3d;
$button-dim: #e6c4a5bb;

.dashnav{
    width: 100vw;
    height: 50px;
    border: 1px solid $main-dim;
    background-color: $main;
    display: flex;
    justify-content: flex-start;
    caret-color: rgba(0,0,0,0);
    align-items: center;
    & .profile-container{
        width: 100px;
        margin:5px;
        & .pro-avt{
            border-radius: 50%;
            width: 40px;
            border: 2px solid $text-color;
            cursor:pointer
        }
        flex: 2
    }
    & .profile-name{
        font-size: 20px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.671);
        flex:5

    }
    & .expandnav{
        flex: 1;
        transform: scale(0.75);
        cursor:pointer
        
    }
}

